<div id="<%= dom_id product %>" class="flex flex-col gap-2">
  <div>
    <strong>Name:</strong>
    <%= product.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= product.description %>
  </div>

  <div>
    <strong>Color:</strong>
    <%= product.color %>
  </div>

  <div>
    <strong>Size:</strong>
    <%= product.size %>
  </div>

  <div>
    <strong>Type:</strong>
    <%= product.type %>
  </div>

  <div>
    <strong>Unit Price:</strong>
    <%= number_to_currency(product.price, unit: "₱") %>
  </div>
</div>
