<% content_for :title, "Products" %>

<p class="text-green-600"><%= notice %></p>

<h1 class="text-4xl font-bold">Products</h1>

<div class="w-full flex flex-row justify-end gap-2">
  <%= link_to "New product", new_product_path, class: "btn btn-primary" %>
</div>

<div class="overflow-x-auto rounded-box border-2 border-base-content/5 bg-base-100">
  <table class="table table-zebra table-lg" id="products">
    <thead>
      <tr class="bg-base-300 text-base-content">
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>Type</th>
        <th>Unit Price</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr class="hover">
          <td><%= product.name %></td>
          <td><%= product.color %></td>
          <td><%= product.size %></td>
          <td><%= product.type %></td>
          <td><%= number_to_currency(product.price, unit: "₱") %></td>
          <td><%= link_to "View", product, class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
