<li>
  <details>
    <summary>Maintenance</summary>
    <ul class="p-2">
      <li>
        <%= link_to "Brands", brands_path, target: "_top" %>
      </li>
      <li>
        <%= link_to "Products", products_path, target: "_top" %>
      </li>
      <li>
        <%= link_to "Suppliers", suppliers_path, target: "_top" %>
      </li>
    </ul>
  </details>
</li>
<li>
  <%= link_to "Purchase Orders", purchase_orders_path, target: "_top" %>
</li>
<li>
  <%= link_to "Sales Orders", sales_orders_path, target: "_top" %>
</li>
<li>
  <%= link_to "Inventory", inventories_path, target: "_top" %>
</li>
