<!DOCTYPE html>
<html lang="en">
  <head>
    <% title = content_for(:title) || @project_name.titleize || "Project Airona" %>
    <title>
      <%= "#{title} | Error - #{@status} (#{@response})" %>
    </title>

    <%= render partial: "layouts/meta", locals: { title: "#{title} | Error - #{@status} (#{@response})", description: "Error" } %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "exception", defer: "defer" %>

    <%= yield :head_content %>
  </head>
  <!-- Body -->
  <body>
    <%= yield %>
  </body>
</html>
